*** USE THE CONCEPT OF FUNCTIONS TO SOLVE THE BELOW PROGRAMMING QUESTIONS ***

1) Write a Python function to sum all the numbers in a list.

Sample List : (8, 2, 3, 0, 7)

Expected Output : 20

In [4]:
#WRITE YOUR CODE HERE
def sum(numbers):
  s=0
  for i in numbers:
    s=s+i
  print("sum of numbers : ",s)
numbers = list(map(int, input("Enter numbers separated by space: ").split()))
sum(numbers)

Enter numbers separated by space: 8 2 3 0 7
sum of numbers :  20

2) Write a Python function to multiply all the numbers in a list.

Sample List : (8, 2, 3, -1, 7)

Expected Output : -336

In [5]:
#WRITE YOUR CODE HERE
def multiply(numbers):
  s=1
  for i in numbers:
    s=s*i
  print("Product of numbers : ",s)
numbers = list(map(int, input("Enter numbers separated by space: ").split()))
multiply(numbers)

Enter numbers separated by space: 8 2 3 -1 7
Product of numbers :  -336

3) Write a Python program to reverse a string.

Sample String : "1234abcd"

Expected Output : "dcba4321"

In [3]:
#WRITE YOUR CODE HERE
s=input()
s1=""
for i in range(len(s)-1,-1,-1):
  s1=s1+s[i]
print(s1)

1234abcd
dcba4321

4) Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [6]:
#WRITE YOUR CODE HERE
n=int(input())
fact=1
for i in range(1,n+1):
  fact=fact*i
print(fact)

5
120

5) Write a Python function to check whether a number falls within a given range.

In [12]:
#WRITE YOUR CODE HERE
def check(a,b,c):
  if(c>=a and c<=b):
    return True
  return False

s=list(map(int,input().split()))
if(check(s[0],s[1],s[2])):
  print("Yes")
else:
  print("No")

3 4 5
No